<head>
  <%= stylesheet_link_tag '/plugin_assets/gmail_issues/stylesheets/ui-grid' %>
  <%= stylesheet_link_tag '/plugin_assets/gmail_issues/stylesheets/index' %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.js"></script>
  <%= javascript_include_tag '/plugin_assets/gmail_issues/javascripts/ui-grid' %>
  <%= javascript_include_tag '/plugin_assets/gmail_issues/javascripts/index' %>
</head>
<h1>Issues</h1>

<div ng-app="issuesApp">
  <div id="main" ng-controller="mainController as ctrl">
    <div id="grid1" ui-grid="gridOptions" class="issueGrid"></div>
  </div>
</div>
